ih-root {
  ih-sidebar {
    ih-menu {
      &.hidden {
        display: none;
      }

      li {
        display: flex;
        padding: 0px;
        flex-direction: column;


        &>small {
          font-size: var(--i-font-size-sm);
          font-family: var(--i-font-family-heading);
          color: var(--i-color-gray-400);
          padding: 0 var(--i-spacing-xs) var(--i-spacing-4xs);
        }

        &>div,
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: var(--i-spacing-3xs);
          padding: var(--i-spacing-3xs) var(--i-spacing-xs);
          margin: var(--i-spacing-5xs) 0px;
          cursor: pointer;
          text-decoration: none;

          span {
            display: inline-block;
            width: var(--i-spacing-sm);
          }

          i,
          h6 {
            color: var(--i-color-gray-600);
          }

          h6 {
            font-family: var(--i-font-family-heading);
            font-size: var(--i-font-size-sm);
            flex: 1 1 100%;
          }

          &:hover {
            border-radius: var(--i-radius-md);
            background-color: var(--i-color-gray-100);

            i,
            h6 {
              color: var(--i-color-gray-800);
            }
          }
        }

        >ul {
          padding: 0px;
          margin: 0px;
          list-style: none;
          display: flex;
          flex-direction: column;

          &.expanded {
            display: flex;
            background-color: var(--i-color-gray-100);
            border-radius: var(--i-radius-md);
          }

          &.collapsed {
            display: none;
          }
        }
      }
    }
  }
}