/* AMBER */
.bg-amber {
  background-color: var(--i-color-amber);
}
.bg-amber-50 {
  background-color: var(--i-color-amber-50);
}
.bg-amber-100 {
  background-color: var(--i-color-amber-100);
}
.bg-amber-200 {
  background-color: var(--i-color-amber-200);
}
.bg-amber-300 {
  background-color: var(--i-color-amber-300);
}
.bg-amber-400 {
  background-color: var(--i-color-amber-400);
}
.bg-amber-500 {
  background-color: var(--i-color-amber-500);
}
.bg-amber-600 {
  background-color: var(--i-color-amber-600);
}
.bg-amber-700 {
  background-color: var(--i-color-amber-700);
}
.bg-amber-800 {
  background-color: var(--i-color-amber-800);
}
.bg-amber-900 {
  background-color: var(--i-color-amber-900);
}
.bg-amber-950 {
  background-color: var(--i-color-amber-950);
}

/* BLUE */
.bg-blue {
  background-color: var(--i-color-blue);
}
.bg-blue-50 {
  background-color: var(--i-color-blue-50);
}
.bg-blue-100 {
  background-color: var(--i-color-blue-100);
}
.bg-blue-200 {
  background-color: var(--i-color-blue-200);
}
.bg-blue-300 {
  background-color: var(--i-color-blue-300);
}
.bg-blue-400 {
  background-color: var(--i-color-blue-400);
}
.bg-blue-500 {
  background-color: var(--i-color-blue-500);
}
.bg-blue-600 {
  background-color: var(--i-color-blue-600);
}
.bg-blue-700 {
  background-color: var(--i-color-blue-700);
}
.bg-blue-800 {
  background-color: var(--i-color-blue-800);
}
.bg-blue-900 {
  background-color: var(--i-color-blue-900);
}
.bg-blue-950 {
  background-color: var(--i-color-blue-950);
}

/* BROWN */
.bg-brown {
  background-color: var(--i-color-brown);
}
.bg-brown-50 {
  background-color: var(--i-color-brown-50);
}
.bg-brown-100 {
  background-color: var(--i-color-brown-100);
}
.bg-brown-200 {
  background-color: var(--i-color-brown-200);
}
.bg-brown-300 {
  background-color: var(--i-color-brown-300);
}
.bg-brown-400 {
  background-color: var(--i-color-brown-400);
}
.bg-brown-500 {
  background-color: var(--i-color-brown-500);
}
.bg-brown-600 {
  background-color: var(--i-color-brown-600);
}
.bg-brown-700 {
  background-color: var(--i-color-brown-700);
}
.bg-brown-800 {
  background-color: var(--i-color-brown-800);
}
.bg-brown-900 {
  background-color: var(--i-color-brown-900);
}
.bg-brown-950 {
  background-color: var(--i-color-brown-950);
}

/* CYAN */
.bg-cyan {
  background-color: var(--i-color-cyan);
}
.bg-cyan-50 {
  background-color: var(--i-color-cyan-50);
}
.bg-cyan-100 {
  background-color: var(--i-color-cyan-100);
}
.bg-cyan-200 {
  background-color: var(--i-color-cyan-200);
}
.bg-cyan-300 {
  background-color: var(--i-color-cyan-300);
}
.bg-cyan-400 {
  background-color: var(--i-color-cyan-400);
}
.bg-cyan-500 {
  background-color: var(--i-color-cyan-500);
}
.bg-cyan-600 {
  background-color: var(--i-color-cyan-600);
}
.bg-cyan-700 {
  background-color: var(--i-color-cyan-700);
}
.bg-cyan-800 {
  background-color: var(--i-color-cyan-800);
}
.bg-cyan-900 {
  background-color: var(--i-color-cyan-900);
}
.bg-cyan-950 {
  background-color: var(--i-color-cyan-950);
}

/* EMERALD */
.bg-emerald {
  background-color: var(--i-color-emerald);
}
.bg-emerald-50 {
  background-color: var(--i-color-emerald-50);
}
.bg-emerald-100 {
  background-color: var(--i-color-emerald-100);
}
.bg-emerald-200 {
  background-color: var(--i-color-emerald-200);
}
.bg-emerald-300 {
  background-color: var(--i-color-emerald-300);
}
.bg-emerald-400 {
  background-color: var(--i-color-emerald-400);
}
.bg-emerald-500 {
  background-color: var(--i-color-emerald-500);
}
.bg-emerald-600 {
  background-color: var(--i-color-emerald-600);
}
.bg-emerald-700 {
  background-color: var(--i-color-emerald-700);
}
.bg-emerald-800 {
  background-color: var(--i-color-emerald-800);
}
.bg-emerald-900 {
  background-color: var(--i-color-emerald-900);
}
.bg-emerald-950 {
  background-color: var(--i-color-emerald-950);
}

/* FUCSHIA */
.bg-fucshia {
  background-color: var(--i-color-fucshia);
}
.bg-fucshia-50 {
  background-color: var(--i-color-fucshia-50);
}
.bg-fucshia-100 {
  background-color: var(--i-color-fucshia-100);
}
.bg-fucshia-200 {
  background-color: var(--i-color-fucshia-200);
}
.bg-fucshia-300 {
  background-color: var(--i-color-fucshia-300);
}
.bg-fucshia-400 {
  background-color: var(--i-color-fucshia-400);
}
.bg-fucshia-500 {
  background-color: var(--i-color-fucshia-500);
}
.bg-fucshia-600 {
  background-color: var(--i-color-fucshia-600);
}
.bg-fucshia-700 {
  background-color: var(--i-color-fucshia-700);
}
.bg-fucshia-800 {
  background-color: var(--i-color-fucshia-800);
}
.bg-fucshia-900 {
  background-color: var(--i-color-fucshia-900);
}
.bg-fucshia-950 {
  background-color: var(--i-color-fucshia-950);
}

/* GRAY */
.bg-gray {
  background-color: var(--i-color-gray);
}
.bg-gray-50 {
  background-color: var(--i-color-gray-50);
}
.bg-gray-100 {
  background-color: var(--i-color-gray-100);
}
.bg-gray-200 {
  background-color: var(--i-color-gray-200);
}
.bg-gray-300 {
  background-color: var(--i-color-gray-300);
}
.bg-gray-400 {
  background-color: var(--i-color-gray-400);
}
.bg-gray-500 {
  background-color: var(--i-color-gray-500);
}
.bg-gray-600 {
  background-color: var(--i-color-gray-600);
}
.bg-gray-700 {
  background-color: var(--i-color-gray-700);
}
.bg-gray-800 {
  background-color: var(--i-color-gray-800);
}
.bg-gray-900 {
  background-color: var(--i-color-gray-900);
}
.bg-gray-950 {
  background-color: var(--i-color-gray-950);
}

/* GREEN */
.bg-green {
  background-color: var(--i-color-green);
}
.bg-green-50 {
  background-color: var(--i-color-green-50);
}
.bg-green-100 {
  background-color: var(--i-color-green-100);
}
.bg-green-200 {
  background-color: var(--i-color-green-200);
}
.bg-green-300 {
  background-color: var(--i-color-green-300);
}
.bg-green-400 {
  background-color: var(--i-color-green-400);
}
.bg-green-500 {
  background-color: var(--i-color-green-500);
}
.bg-green-600 {
  background-color: var(--i-color-green-600);
}
.bg-green-700 {
  background-color: var(--i-color-green-700);
}
.bg-green-800 {
  background-color: var(--i-color-green-800);
}
.bg-green-900 {
  background-color: var(--i-color-green-900);
}
.bg-green-950 {
  background-color: var(--i-color-green-950);
}

/* INDIGO */
.bg-indigo {
  background-color: var(--i-color-indigo);
}
.bg-indigo-50 {
  background-color: var(--i-color-indigo-50);
}
.bg-indigo-100 {
  background-color: var(--i-color-indigo-100);
}
.bg-indigo-200 {
  background-color: var(--i-color-indigo-200);
}
.bg-indigo-300 {
  background-color: var(--i-color-indigo-300);
}
.bg-indigo-400 {
  background-color: var(--i-color-indigo-400);
}
.bg-indigo-500 {
  background-color: var(--i-color-indigo-500);
}
.bg-indigo-600 {
  background-color: var(--i-color-indigo-600);
}
.bg-indigo-700 {
  background-color: var(--i-color-indigo-700);
}
.bg-indigo-800 {
  background-color: var(--i-color-indigo-800);
}
.bg-indigo-900 {
  background-color: var(--i-color-indigo-900);
}
.bg-indigo-950 {
  background-color: var(--i-color-indigo-950);
}

/* LIME */
.bg-lime {
  background-color: var(--i-color-lime);
}
.bg-lime-50 {
  background-color: var(--i-color-lime-50);
}
.bg-lime-100 {
  background-color: var(--i-color-lime-100);
}
.bg-lime-200 {
  background-color: var(--i-color-lime-200);
}
.bg-lime-300 {
  background-color: var(--i-color-lime-300);
}
.bg-lime-400 {
  background-color: var(--i-color-lime-400);
}
.bg-lime-500 {
  background-color: var(--i-color-lime-500);
}
.bg-lime-600 {
  background-color: var(--i-color-lime-600);
}
.bg-lime-700 {
  background-color: var(--i-color-lime-700);
}
.bg-lime-800 {
  background-color: var(--i-color-lime-800);
}
.bg-lime-900 {
  background-color: var(--i-color-lime-900);
}
.bg-lime-950 {
  background-color: var(--i-color-lime-950);
}

/* ORANGE */
.bg-orange {
  background-color: var(--i-color-orange);
}
.bg-orange-50 {
  background-color: var(--i-color-orange-50);
}
.bg-orange-100 {
  background-color: var(--i-color-orange-100);
}
.bg-orange-200 {
  background-color: var(--i-color-orange-200);
}
.bg-orange-300 {
  background-color: var(--i-color-orange-300);
}
.bg-orange-400 {
  background-color: var(--i-color-orange-400);
}
.bg-orange-500 {
  background-color: var(--i-color-orange-500);
}
.bg-orange-600 {
  background-color: var(--i-color-orange-600);
}
.bg-orange-700 {
  background-color: var(--i-color-orange-700);
}
.bg-orange-800 {
  background-color: var(--i-color-orange-800);
}
.bg-orange-900 {
  background-color: var(--i-color-orange-900);
}
.bg-orange-950 {
  background-color: var(--i-color-orange-950);
}

/* PINK */
.bg-pink {
  background-color: var(--i-color-pink);
}
.bg-pink-50 {
  background-color: var(--i-color-pink-50);
}
.bg-pink-100 {
  background-color: var(--i-color-pink-100);
}
.bg-pink-200 {
  background-color: var(--i-color-pink-200);
}
.bg-pink-300 {
  background-color: var(--i-color-pink-300);
}
.bg-pink-400 {
  background-color: var(--i-color-pink-400);
}
.bg-pink-500 {
  background-color: var(--i-color-pink-500);
}
.bg-pink-600 {
  background-color: var(--i-color-pink-600);
}
.bg-pink-700 {
  background-color: var(--i-color-pink-700);
}
.bg-pink-800 {
  background-color: var(--i-color-pink-800);
}
.bg-pink-900 {
  background-color: var(--i-color-pink-900);
}
.bg-pink-950 {
  background-color: var(--i-color-pink-950);
}

/* PURPLE */
.bg-purple {
  background-color: var(--i-color-purple);
}
.bg-purple-50 {
  background-color: var(--i-color-purple-50);
}
.bg-purple-100 {
  background-color: var(--i-color-purple-100);
}
.bg-purple-200 {
  background-color: var(--i-color-purple-200);
}
.bg-purple-300 {
  background-color: var(--i-color-purple-300);
}
.bg-purple-400 {
  background-color: var(--i-color-purple-400);
}
.bg-purple-500 {
  background-color: var(--i-color-purple-500);
}
.bg-purple-600 {
  background-color: var(--i-color-purple-600);
}
.bg-purple-700 {
  background-color: var(--i-color-purple-700);
}
.bg-purple-800 {
  background-color: var(--i-color-purple-800);
}
.bg-purple-900 {
  background-color: var(--i-color-purple-900);
}
.bg-purple-950 {
  background-color: var(--i-color-purple-950);
}

/* RED */
.bg-red {
  background-color: var(--i-color-red);
}
.bg-red-50 {
  background-color: var(--i-color-red-50);
}
.bg-red-100 {
  background-color: var(--i-color-red-100);
}
.bg-red-200 {
  background-color: var(--i-color-red-200);
}
.bg-red-300 {
  background-color: var(--i-color-red-300);
}
.bg-red-400 {
  background-color: var(--i-color-red-400);
}
.bg-red-500 {
  background-color: var(--i-color-red-500);
}
.bg-red-600 {
  background-color: var(--i-color-red-600);
}
.bg-red-700 {
  background-color: var(--i-color-red-700);
}
.bg-red-800 {
  background-color: var(--i-color-red-800);
}
.bg-red-900 {
  background-color: var(--i-color-red-900);
}
.bg-red-950 {
  background-color: var(--i-color-red-950);
}

/* ROSE */
.bg-rose {
  background-color: var(--i-color-rose);
}
.bg-rose-50 {
  background-color: var(--i-color-rose-50);
}
.bg-rose-100 {
  background-color: var(--i-color-rose-100);
}
.bg-rose-200 {
  background-color: var(--i-color-rose-200);
}
.bg-rose-300 {
  background-color: var(--i-color-rose-300);
}
.bg-rose-400 {
  background-color: var(--i-color-rose-400);
}
.bg-rose-500 {
  background-color: var(--i-color-rose-500);
}
.bg-rose-600 {
  background-color: var(--i-color-rose-600);
}
.bg-rose-700 {
  background-color: var(--i-color-rose-700);
}
.bg-rose-800 {
  background-color: var(--i-color-rose-800);
}
.bg-rose-900 {
  background-color: var(--i-color-rose-900);
}
.bg-rose-950 {
  background-color: var(--i-color-rose-950);
}

/* SKY */
.bg-sky {
  background-color: var(--i-color-sky);
}
.bg-sky-50 {
  background-color: var(--i-color-sky-50);
}
.bg-sky-100 {
  background-color: var(--i-color-sky-100);
}
.bg-sky-200 {
  background-color: var(--i-color-sky-200);
}
.bg-sky-300 {
  background-color: var(--i-color-sky-300);
}
.bg-sky-400 {
  background-color: var(--i-color-sky-400);
}
.bg-sky-500 {
  background-color: var(--i-color-sky-500);
}
.bg-sky-600 {
  background-color: var(--i-color-sky-600);
}
.bg-sky-700 {
  background-color: var(--i-color-sky-700);
}
.bg-sky-800 {
  background-color: var(--i-color-sky-800);
}
.bg-sky-900 {
  background-color: var(--i-color-sky-900);
}
.bg-sky-950 {
  background-color: var(--i-color-sky-950);
}

/* SLATE */
.bg-slate {
  background-color: var(--i-color-slate);
}
.bg-slate-50 {
  background-color: var(--i-color-slate-50);
}
.bg-slate-100 {
  background-color: var(--i-color-slate-100);
}
.bg-slate-200 {
  background-color: var(--i-color-slate-200);
}
.bg-slate-300 {
  background-color: var(--i-color-slate-300);
}
.bg-slate-400 {
  background-color: var(--i-color-slate-400);
}
.bg-slate-500 {
  background-color: var(--i-color-slate-500);
}
.bg-slate-600 {
  background-color: var(--i-color-slate-600);
}
.bg-slate-700 {
  background-color: var(--i-color-slate-700);
}
.bg-slate-800 {
  background-color: var(--i-color-slate-800);
}
.bg-slate-900 {
  background-color: var(--i-color-slate-900);
}
.bg-slate-950 {
  background-color: var(--i-color-slate-950);
}

/* STONE */
.bg-stone {
  background-color: var(--i-color-stone);
}
.bg-stone-50 {
  background-color: var(--i-color-stone-50);
}
.bg-stone-100 {
  background-color: var(--i-color-stone-100);
}
.bg-stone-200 {
  background-color: var(--i-color-stone-200);
}
.bg-stone-300 {
  background-color: var(--i-color-stone-300);
}
.bg-stone-400 {
  background-color: var(--i-color-stone-400);
}
.bg-stone-500 {
  background-color: var(--i-color-stone-500);
}
.bg-stone-600 {
  background-color: var(--i-color-stone-600);
}
.bg-stone-700 {
  background-color: var(--i-color-stone-700);
}
.bg-stone-800 {
  background-color: var(--i-color-stone-800);
}
.bg-stone-900 {
  background-color: var(--i-color-stone-900);
}
.bg-stone-950 {
  background-color: var(--i-color-stone-950);
}

/* TEAL */
.bg-teal {
  background-color: var(--i-color-teal);
}
.bg-teal-50 {
  background-color: var(--i-color-teal-50);
}
.bg-teal-100 {
  background-color: var(--i-color-teal-100);
}
.bg-teal-200 {
  background-color: var(--i-color-teal-200);
}
.bg-teal-300 {
  background-color: var(--i-color-teal-300);
}
.bg-teal-400 {
  background-color: var(--i-color-teal-400);
}
.bg-teal-500 {
  background-color: var(--i-color-teal-500);
}
.bg-teal-600 {
  background-color: var(--i-color-teal-600);
}
.bg-teal-700 {
  background-color: var(--i-color-teal-700);
}
.bg-teal-800 {
  background-color: var(--i-color-teal-800);
}
.bg-teal-900 {
  background-color: var(--i-color-teal-900);
}
.bg-teal-950 {
  background-color: var(--i-color-teal-950);
}

/* VIOLET */
.bg-violet {
  background-color: var(--i-color-violet);
}
.bg-violet-50 {
  background-color: var(--i-color-violet-50);
}
.bg-violet-100 {
  background-color: var(--i-color-violet-100);
}
.bg-violet-200 {
  background-color: var(--i-color-violet-200);
}
.bg-violet-300 {
  background-color: var(--i-color-violet-300);
}
.bg-violet-400 {
  background-color: var(--i-color-violet-400);
}
.bg-violet-500 {
  background-color: var(--i-color-violet-500);
}
.bg-violet-600 {
  background-color: var(--i-color-violet-600);
}
.bg-violet-700 {
  background-color: var(--i-color-violet-700);
}
.bg-violet-800 {
  background-color: var(--i-color-violet-800);
}
.bg-violet-900 {
  background-color: var(--i-color-violet-900);
}
.bg-violet-950 {
  background-color: var(--i-color-violet-950);
}

/* YELLOW */
.bg-yellow {
  background-color: var(--i-color-yellow);
}
.bg-yellow-50 {
  background-color: var(--i-color-yellow-50);
}
.bg-yellow-100 {
  background-color: var(--i-color-yellow-100);
}
.bg-yellow-200 {
  background-color: var(--i-color-yellow-200);
}
.bg-yellow-300 {
  background-color: var(--i-color-yellow-300);
}
.bg-yellow-400 {
  background-color: var(--i-color-yellow-400);
}
.bg-yellow-500 {
  background-color: var(--i-color-yellow-500);
}
.bg-yellow-600 {
  background-color: var(--i-color-yellow-600);
}
.bg-yellow-700 {
  background-color: var(--i-color-yellow-700);
}
.bg-yellow-800 {
  background-color: var(--i-color-yellow-800);
}
.bg-yellow-900 {
  background-color: var(--i-color-yellow-900);
}
.bg-yellow-950 {
  background-color: var(--i-color-yellow-950);
}

/* ZINC */
.bg-zinc {
  background-color: var(--i-color-zinc);
}
.bg-zinc-50 {
  background-color: var(--i-color-zinc-50);
}
.bg-zinc-100 {
  background-color: var(--i-color-zinc-100);
}
.bg-zinc-200 {
  background-color: var(--i-color-zinc-200);
}
.bg-zinc-300 {
  background-color: var(--i-color-zinc-300);
}
.bg-zinc-400 {
  background-color: var(--i-color-zinc-400);
}
.bg-zinc-500 {
  background-color: var(--i-color-zinc-500);
}
.bg-zinc-600 {
  background-color: var(--i-color-zinc-600);
}
.bg-zinc-700 {
  background-color: var(--i-color-zinc-700);
}
.bg-zinc-800 {
  background-color: var(--i-color-zinc-800);
}
.bg-zinc-900 {
  background-color: var(--i-color-zinc-900);
}
.bg-zinc-950 {
  background-color: var(--i-color-zinc-950);
}
