/* flex */
@layer themes {
  :root {
    --i-flex-direction: row;
    --i-flex-wrap: nowrap;
    --i-align-content: stretch;
    --i-justify-content: flex-start;
    --i-align-items: stretch;
  }
}

/* gap */
@layer themes {
  :root {
    /* --i-gap: var(--i-gap-md);
    --i-col-gap: var(--i-gap-md);
    --i-row-gap: var(--i-gap-md); */
    --i-gap: 0px;
    /* --i-col-gap: var(--i-gap);
    --i-row-gap: var(--i-gap); */

    --i-gap-3xs: 3px;
    --i-gap-2xs: 2px;
    --i-gap-xs: 4px;
    --i-gap-sm: 6px;
    --i-gap-md: 8px;
    --i-gap-lg: 10px;
    --i-gap-xl: 12px;
    --i-gap-2xl: 16px;
    --i-gap-3xl: 24px;
    --i-gap-4xl: 32px;
    --i-gap-5xl: 48px;
    --i-gap-6xl: 64px;
  }
}

/* flex */
@layer utilities {
  .flex {
    --i-flex-direction: row;
    --i-flex-wrap: nowrap;
    --i-align-content: stretch;
    --i-justify-content: flex-start;
    --i-align-items: stretch;
    --i-gap: 0;

    display: flex;
    flex-direction: var(--i-flex-direction);
    flex-wrap: var(--i-flex-wrap);
    align-content: var(--i-align-content);
    justify-content: var(--i-justify-content);
    align-items: var(--i-align-items);
    gap: var(--i-gap);
    column-gap: var(--i-col-gap, var(--i-gap, 0));
    row-gap: var(--i-row-gap, var(--i-gap, 0));
  }
}

/* inline-flex */
@layer utilities {
  .inline-flex {
    --i-flex-direction: row;
    --i-flex-wrap: nowrap;
    --i-align-content: stretch;
    --i-justify-content: flex-start;
    --i-align-items: stretch;
    --i-gap: 0;

    display: inline-flex;
    flex-direction: var(--i-flex-direction);
    flex-wrap: var(--i-flex-wrap);
    justify-content: var(--i-justify-content);
    align-items: var(--i-align-items);
    gap: var(--i-gap);
  }
}

/* direction */
@layer utilities {
  .flex-row {
    --i-flex-direction: row;
  }
  .flex-row-reverse {
    --i-flex-direction: row-reverse;
  }
  .flex-col {
    --i-flex-direction: column;
  }
  .flex-col-reverse {
    --i-flex-direction: column-reverse;
  }
}

/* wrap */
@layer utilities {
  .flex-nowrap {
    --i-flex-wrap: nowrap;
  }
  .flex-wrap {
    --i-flex-wrap: wrap;
  }
  .flex-wrap-reverse {
    --i-flex-wrap: wrap-reverse;
  }
}

/* align-items */
@layer utilities {
  .align-start {
    --i-align-items: flex-start;
  }
  .align-center {
    --i-align-items: center;
  }
  .align-end {
    --i-align-items: flex-end;
  }
  .align-stretch {
    --i-align-items: stretch;
  }
}

/* justify-content */
@layer utilities {
  .justify-start {
    --i-justify-content: flex-start;
  }
  .justify-end {
    --i-justify-content: flex-end;
  }
  .justify-end-safe {
    --i-justify-content: safe flex-end;
  }
  .justify-center {
    --i-justify-content: center;
  }
  .justify-center-safe {
    --i-justify-content: safe center;
  }
  .justify-between {
    --i-justify-content: space-between;
  }
  .justify-around {
    --i-justify-content: space-around;
  }
  .justify-evenly {
    --i-justify-content: space-evenly;
  }
  .justify-stretch {
    --i-justify-content: stretch;
  }
  .justify-baseline {
    --i-justify-content: baseline;
  }
  .justify-normal {
    --i-justify-content: normal;
  }
}

/* gap */
@layer utilities {
  .gap-2xs {
    --i-gap: var(--i-gap-2xs);
  }

  .gap-xs {
    --i-gap: var(--i-gap-xs);
  }

  .gap-sm {
    --i-gap: var(--i-gap-sm);
  }

  .gap-md {
    --i-gap: var(--i-gap-md);
  }

  .gap-lg {
    --i-gap: var(--i-gap-lg);
  }

  .gap-xl {
    --i-gap: var(--i-gap-xl);
  }

  .gap-2xl {
    --i-gap: var(--i-gap-2xl);
  }

  .gap-3xl {
    --i-gap: var(--i-gap-3xl);
  }

  .gap-4xl {
    --i-gap: var(--i-gap-4xl);
  }

  .gap-5xl {
    --i-gap: var(--i-gap-5xl);
  }

  .gap-6xl {
    --i-gap: var(--i-gap-6xl);
  }
}

/* column-gap */
@layer utilities {
  .gap-x-2xs {
    --i-col-gap: var(--i-gap-2xs, 2px);
  }

  .gap-x-xs {
    --i-col-gap: var(--i-gap-xs);
  }

  .gap-x-sm {
    --i-col-gap: var(--i-gap-sm);
  }

  .gap-x-md {
    --i-col-gap: var(--i-gap-md);
  }

  .gap-x-lg {
    --i-col-gap: var(--i-gap-lg);
  }

  .gap-x-xl {
    --i-col-gap: var(--i-gap-xl);
  }

  .gap-x-2xl {
    --i-col-gap: var(--i-gap-2xl);
  }

  .gap-x-3xl {
    --i-col-gap: var(--i-gap-3xl);
  }

  .gap-x-4xl {
    --i-col-gap: var(--i-gap-4xl);
  }

  .gap-x-5xl {
    --i-col-gap: var(--i-gap-5xl);
  }

  .gap-x-6xl {
    --i-col-gap: var(--i-gap-6xl);
  }
}

/* row-gap */
@layer utilities {
  .gap-y-2xs {
    --i-row-gap: var(--i-gap-2xs, 2px);
  }

  .gap-y-xs {
    --i-row-gap: var(--i-gap-xs);
  }

  .gap-y-sm {
    --i-row-gap: var(--i-gap-sm);
  }

  .gap-y-md {
    --i-row-gap: var(--i-gap-md);
  }

  .gap-y-lg {
    --i-row-gap: var(--i-gap-lg);
  }

  .gap-y-xl {
    --i-row-gap: var(--i-gap-xl);
  }

  .gap-y-2xl {
    --i-row-gap: var(--i-gap-2xl);
  }

  .gap-y-3xl {
    --i-row-gap: var(--i-gap-3xl);
  }

  .gap-y-4xl {
    --i-row-gap: var(--i-gap-4xl);
  }

  .gap-y-5xl {
    --i-row-gap: var(--i-gap-5xl);
  }

  .gap-y-6xl {
    --i-row-gap: var(--i-gap-6xl);
  }
}

/* shorthand */
@layer utilities {
  .flex-fill {
    flex: 1 1 0%;
  }
  .flex-auto {
    flex: 1 1 auto;
  }
  .flex-initial {
    flex: 0 1 auto;
  }
  .flex-none {
    flex: 0 0 auto;
  }
}

/* grow / shrink / basis */
@layer utilities {
  .grow {
    flex-grow: 1;
  }
  .grow-0 {
    flex-grow: 0;
  }

  .shrink {
    flex-shrink: 1;
  }
  .shrink-0 {
    flex-shrink: 0;
  }

  /* basis */
  .basis-auto {
    flex-basis: auto;
  }
  .basis-0 {
    flex-basis: 0%;
  }
}
