@layer themes {
  :root {
    --i-padding-3xs: 2px;
    --i-padding-2xs: 4px;
    --i-padding-xs: 8px;
    --i-padding-sm: 10px;
    --i-padding-md: 12px;
    --i-padding-lg: 16px;
    --i-padding-xl: 20px;
    --i-padding-2xl: 24px;
    --i-padding-3xl: 32px;
  }
}

/* padding */
@layer utilities {
  .p-0 {
    padding: 0;
  }
  .p-3xs {
    padding: var(--i-padding-3xs);
  }
  .p-2xs {
    padding: var(--i-padding-2xs);
  }
  .p-xs {
    padding: var(--i-padding-xs);
  }
  .p-sm {
    padding: var(--i-padding-sm);
  }
  .p-md {
    padding: var(--i-padding-md);
  }
  .p-lg {
    padding: var(--i-padding-lg);
  }
  .p-xl {
    padding: var(--i-padding-xl);
  }
  .p-2xl {
    padding: var(--i-padding-2xl);
  }
  .p-3xl {
    padding: var(--i-padding-3xl);
  }
}

/* padding-top */
@layer utilities {
  .pt-0 {
    padding-top: 0;
  }
  .pt-3xs {
    padding-top: var(--i-padding-3xs);
  }
  .pt-2xs {
    padding-top: var(--i-padding-2xs);
  }
  .pt-xs {
    padding-top: var(--i-padding-xs);
  }
  .pt-sm {
    padding-top: var(--i-padding-sm);
  }
  .pt-md {
    padding-top: var(--i-padding-md);
  }
  .pt-lg {
    padding-top: var(--i-padding-lg);
  }
  .pt-xl {
    padding-top: var(--i-padding-xl);
  }
  .pt-2xl {
    padding-top: var(--i-padding-2xl);
  }
  .pt-3xl {
    padding-top: var(--i-padding-3xl);
  }
}

/* padding-bottom */
@layer utilities {
  .pb-0 {
    padding-bottom: 0;
  }
  .pb-3xs {
    padding-bottom: var(--i-padding-3xs);
  }
  .pb-2xs {
    padding-bottom: var(--i-padding-2xs);
  }
  .pb-xs {
    padding-bottom: var(--i-padding-xs);
  }
  .pb-sm {
    padding-bottom: var(--i-padding-sm);
  }
  .pb-md {
    padding-bottom: var(--i-padding-md);
  }
  .pb-lg {
    padding-bottom: var(--i-padding-lg);
  }
  .pb-xl {
    padding-bottom: var(--i-padding-xl);
  }
  .pb-2xl {
    padding-bottom: var(--i-padding-2xl);
  }
  .pb-3xl {
    padding-bottom: var(--i-padding-3xl);
  }
}

/* padding-left */
@layer utilities {
  .ps-0 {
    padding-left: 0;
  }
  .ps-3xs {
    padding-left: var(--i-padding-3xs);
  }
  .ps-2xs {
    padding-left: var(--i-padding-2xs);
  }
  .ps-xs {
    padding-left: var(--i-padding-xs);
  }
  .ps-sm {
    padding-left: var(--i-padding-sm);
  }
  .ps-md {
    padding-left: var(--i-padding-md);
  }
  .ps-lg {
    padding-left: var(--i-padding-lg);
  }
  .ps-xl {
    padding-left: var(--i-padding-xl);
  }
  .ps-2xl {
    padding-left: var(--i-padding-2xl);
  }
  .ps-3xl {
    padding-left: var(--i-padding-3xl);
  }
}

/* padding-right */
@layer utilities {
  .pe-0 {
    padding-right: 0;
  }
  .pe-3xs {
    padding-right: var(--i-padding-3xs);
  }
  .pe-2xs {
    padding-right: var(--i-padding-2xs);
  }
  .pe-xs {
    padding-right: var(--i-padding-xs);
  }
  .pe-sm {
    padding-right: var(--i-padding-sm);
  }
  .pe-md {
    padding-right: var(--i-padding-md);
  }
  .pe-lg {
    padding-right: var(--i-padding-lg);
  }
  .pe-xl {
    padding-right: var(--i-padding-xl);
  }
  .pe-2xl {
    padding-right: var(--i-padding-2xl);
  }
  .pe-3xl {
    padding-right: var(--i-padding-3xl);
  }
}

/* padding left and padding-right */
@layer utilities {
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .px-2xs {
    padding-right: var(--i-padding-3xs);
    padding-left: var(--i-padding-3xs);
  }
  .px-2xs {
    padding-right: var(--i-padding-2xs);
    padding-left: var(--i-padding-2xs);
  }
  .px-xs {
    padding-right: var(--i-padding-xs);
    padding-left: var(--i-padding-xs);
  }
  .px-sm {
    padding-right: var(--i-padding-sm);
    padding-left: var(--i-padding-sm);
  }
  .px-md {
    padding-right: var(--i-padding-md);
    padding-left: var(--i-padding-md);
  }
  .px-lg {
    padding-right: var(--i-padding-lg);
    padding-left: var(--i-padding-lg);
  }
  .px-xl {
    padding-right: var(--i-padding-xl);
    padding-left: var(--i-padding-xl);
  }
  .px-2xl {
    padding-right: var(--i-padding-2xl);
    padding-left: var(--i-padding-2xl);
  }
  .px-3xl {
    padding-right: var(--i-padding-3xl);
    padding-left: var(--i-padding-3xl);
  }
}

/* padding-top and padding-bottom */
@layer utilities {
  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-3xs {
    padding-top: var(--i-padding-3xs);
    padding-bottom: var(--i-padding-3xs);
  }
  .py-2xs {
    padding-top: var(--i-padding-2xs);
    padding-bottom: var(--i-padding-2xs);
  }
  .py-xs {
    padding-top: var(--i-padding-xs);
    padding-bottom: var(--i-padding-xs);
  }
  .py-sm {
    padding-top: var(--i-padding-sm);
    padding-bottom: var(--i-padding-sm);
  }
  .py-md {
    padding-top: var(--i-padding-md);
    padding-bottom: var(--i-padding-md);
  }
  .py-lg {
    padding-top: var(--i-padding-lg);
    padding-bottom: var(--i-padding-lg);
  }
  .py-xl {
    padding-top: var(--i-padding-xl);
    padding-bottom: var(--i-padding-xl);
  }
  .py-2xl {
    padding-top: var(--i-padding-2xl);
    padding-bottom: var(--i-padding-2xl);
  }
  .py-3xl {
    padding-top: var(--i-padding-3xl);
    padding-bottom: var(--i-padding-3xl);
  }
}
