@import './typography/color.css';
@import './typography/font-family.css';
@import './typography/font-size.css';
@import './typography/font-smoothing.css';
@import './typography/font-style.css';
@import './typography/font-weight.css';
@import './typography/letter-spacing.css';
@import './typography/line-clamp.css';
@import './typography/line-height.css';
@import './typography/list.css';
@import './typography/semantic-color.css';
@import './typography/text-align.css';
@import './typography/text-decoration.css';
@import './typography/text-overflow.css';
@import './typography/text-transform.css';
@import './typography/user-select.css';
@import './typography/vertical-align.css';
@import './typography/white-space.css';
@import './typography/word-break.css';
