/* 8 points grid  (h-N = N × 8px) */
@layer utilities {
  .w-full {
    width: 100%;
  }
  .w-0 {
    width: 0;
  }
  .w-1 {
    width: calc(1 * 8px);
  }
  .w-2 {
    width: calc(2 * 8px);
  }
  .w-3 {
    width: calc(3 * 8px);
  }
  .w-4 {
    width: calc(4 * 8px);
  }
  .w-5 {
    width: calc(5 * 8px);
  }
  .w-6 {
    width: calc(6 * 8px);
  }
  .w-7 {
    width: calc(7 * 8px);
  }
  .w-8 {
    width: calc(8 * 8px);
  }
  .w-9 {
    width: calc(9 * 8px);
  }
  .w-10 {
    width: calc(10 * 8px);
  }
  .w-11 {
    width: calc(11 * 8px);
  }
  .w-12 {
    width: calc(12 * 8px);
  }
  .w-13 {
    width: calc(13 * 8px);
  }
  .w-14 {
    width: calc(14 * 8px);
  }
  .w-15 {
    width: calc(15 * 8px);
  }
  .w-16 {
    width: calc(16 * 8px);
  }
  .w-17 {
    width: calc(17 * 8px);
  }
  .w-18 {
    width: calc(18 * 8px);
  }
  .w-19 {
    width: calc(19 * 8px);
  }
  .w-20 {
    width: calc(20 * 8px);
  }
  .w-21 {
    width: calc(21 * 8px);
  }
  .w-22 {
    width: calc(22 * 8px);
  }
  .w-23 {
    width: calc(23 * 8px);
  }
  .w-24 {
    width: calc(24 * 8px);
  }
  .w-25 {
    width: calc(25 * 8px);
  }
  .w-26 {
    width: calc(26 * 8px);
  }
  .w-27 {
    width: calc(27 * 8px);
  }
  .w-28 {
    width: calc(28 * 8px);
  }
  .w-29 {
    width: calc(29 * 8px);
  }
  .w-30 {
    width: calc(30 * 8px);
  }
  .w-31 {
    width: calc(31 * 8px);
  }
  .w-32 {
    width: calc(32 * 8px);
  }
  .w-33 {
    width: calc(33 * 8px);
  }
  .w-34 {
    width: calc(34 * 8px);
  }
  .w-35 {
    width: calc(35 * 8px);
  }
  .w-36 {
    width: calc(36 * 8px);
  }
  .w-37 {
    width: calc(37 * 8px);
  }
  .w-38 {
    width: calc(38 * 8px);
  }
  .w-39 {
    width: calc(39 * 8px);
  }
  .w-40 {
    width: calc(40 * 8px);
  }
  .w-41 {
    width: calc(41 * 8px);
  }
  .w-42 {
    width: calc(42 * 8px);
  }
  .w-43 {
    width: calc(43 * 8px);
  }
  .w-44 {
    width: calc(44 * 8px);
  }
  .w-45 {
    width: calc(45 * 8px);
  }
  .w-46 {
    width: calc(46 * 8px);
  }
  .w-47 {
    width: calc(47 * 8px);
  }
  .w-48 {
    width: calc(48 * 8px);
  }
  .w-49 {
    width: calc(49 * 8px);
  }
  .w-50 {
    width: calc(50 * 8px);
  }
  .w-51 {
    width: calc(51 * 8px);
  }
  .w-52 {
    width: calc(52 * 8px);
  }
  .w-53 {
    width: calc(53 * 8px);
  }
  .w-54 {
    width: calc(54 * 8px);
  }
  .w-55 {
    width: calc(55 * 8px);
  }
  .w-56 {
    width: calc(56 * 8px);
  }
  .w-57 {
    width: calc(57 * 8px);
  }
  .w-58 {
    width: calc(58 * 8px);
  }
  .w-59 {
    width: calc(59 * 8px);
  }
  .w-60 {
    width: calc(60 * 8px);
  }
  .w-61 {
    width: calc(61 * 8px);
  }
  .w-62 {
    width: calc(62 * 8px);
  }
  .w-63 {
    width: calc(63 * 8px);
  }
  .w-64 {
    width: calc(64 * 8px);
  }
  .w-65 {
    width: calc(65 * 8px);
  }
  .w-66 {
    width: calc(66 * 8px);
  }
  .w-67 {
    width: calc(67 * 8px);
  }
  .w-68 {
    width: calc(68 * 8px);
  }
  .w-69 {
    width: calc(69 * 8px);
  }
  .w-70 {
    width: calc(70 * 8px);
  }
  .w-71 {
    width: calc(71 * 8px);
  }
  .w-72 {
    width: calc(72 * 8px);
  }
  .w-73 {
    width: calc(73 * 8px);
  }
  .w-74 {
    width: calc(74 * 8px);
  }
  .w-75 {
    width: calc(75 * 8px);
  }
  .w-76 {
    width: calc(76 * 8px);
  }
  .w-77 {
    width: calc(77 * 8px);
  }
  .w-78 {
    width: calc(78 * 8px);
  }
  .w-79 {
    width: calc(79 * 8px);
  }
  .w-80 {
    width: calc(80 * 8px);
  }
  .w-81 {
    width: calc(81 * 8px);
  }
  .w-82 {
    width: calc(82 * 8px);
  }
  .w-83 {
    width: calc(83 * 8px);
  }
  .w-84 {
    width: calc(84 * 8px);
  }
  .w-85 {
    width: calc(85 * 8px);
  }
  .w-86 {
    width: calc(86 * 8px);
  }
  .w-87 {
    width: calc(87 * 8px);
  }
  .w-88 {
    width: calc(88 * 8px);
  }
  .w-89 {
    width: calc(89 * 8px);
  }
  .w-90 {
    width: calc(90 * 8px);
  }
  .w-91 {
    width: calc(91 * 8px);
  }
  .w-92 {
    width: calc(92 * 8px);
  }
  .w-93 {
    width: calc(93 * 8px);
  }
  .w-94 {
    width: calc(94 * 8px);
  }
  .w-95 {
    width: calc(95 * 8px);
  }
  .w-96 {
    width: calc(96 * 8px);
  }
  .w-97 {
    width: calc(97 * 8px);
  }
  .w-98 {
    width: calc(98 * 8px);
  }
  .w-99 {
    width: calc(99 * 8px);
  }
  .w-100 {
    width: calc(100 * 8px);
  }
}

/* Absolute pixels (4 steps) */
@layer utilities {
  .w-4px {
    width: 4px;
  }
  .w-8px {
    width: 8px;
  }
  .w-12px {
    width: 12px;
  }
  .w-16px {
    width: 16px;
  }
  .w-20px {
    width: 20px;
  }
  .w-24px {
    width: 24px;
  }
  .w-28px {
    width: 28px;
  }
  .w-32px {
    width: 32px;
  }
  .w-36px {
    width: 36px;
  }
  .w-40px {
    width: 40px;
  }
  .w-44px {
    width: 44px;
  }
  .w-48px {
    width: 48px;
  }
  .w-52px {
    width: 52px;
  }
  .w-56px {
    width: 56px;
  }
  .w-60px {
    width: 60px;
  }
  .w-64px {
    width: 64px;
  }
  .w-68px {
    width: 68px;
  }
  .w-72px {
    width: 72px;
  }
  .w-76px {
    width: 76px;
  }
  .w-80px {
    width: 80px;
  }
  .w-84px {
    width: 84px;
  }
  .w-88px {
    width: 88px;
  }
  .w-92px {
    width: 92px;
  }
  .w-96px {
    width: 96px;
  }
  .w-100px {
    width: 100px;
  }
  .w-104px {
    width: 104px;
  }
  .w-108px {
    width: 108px;
  }
  .w-112px {
    width: 112px;
  }
  .w-116px {
    width: 116px;
  }
  .w-120px {
    width: 120px;
  }
  .w-124px {
    width: 124px;
  }
  .w-128px {
    width: 128px;
  }
  .w-132px {
    width: 132px;
  }
  .w-136px {
    width: 136px;
  }
  .w-140px {
    width: 140px;
  }
  .w-144px {
    width: 144px;
  }
  .w-148px {
    width: 148px;
  }
  .w-152px {
    width: 152px;
  }
  .w-156px {
    width: 156px;
  }
  .w-160px {
    width: 160px;
  }
  .w-164px {
    width: 164px;
  }
  .w-168px {
    width: 168px;
  }
  .w-172px {
    width: 172px;
  }
  .w-176px {
    width: 176px;
  }
  .w-180px {
    width: 180px;
  }
  .w-184px {
    width: 184px;
  }
  .w-188px {
    width: 188px;
  }
  .w-192px {
    width: 192px;
  }
  .w-196px {
    width: 196px;
  }
  .w-200px {
    width: 200px;
  }
  .w-204px {
    width: 204px;
  }
  .w-208px {
    width: 208px;
  }
  .w-212px {
    width: 212px;
  }
  .w-216px {
    width: 216px;
  }
  .w-220px {
    width: 220px;
  }
  .w-224px {
    width: 224px;
  }
  .w-228px {
    width: 228px;
  }
  .w-232px {
    width: 232px;
  }
  .w-236px {
    width: 236px;
  }
  .w-240px {
    width: 240px;
  }
  .w-244px {
    width: 244px;
  }
  .w-248px {
    width: 248px;
  }
  .w-252px {
    width: 252px;
  }
  .w-256px {
    width: 256px;
  }
  .w-260px {
    width: 260px;
  }
  .w-264px {
    width: 264px;
  }
  .w-268px {
    width: 268px;
  }
  .w-272px {
    width: 272px;
  }
  .w-276px {
    width: 276px;
  }
  .w-280px {
    width: 280px;
  }
  .w-284px {
    width: 284px;
  }
  .w-288px {
    width: 288px;
  }
  .w-292px {
    width: 292px;
  }
  .w-296px {
    width: 296px;
  }
  .w-300px {
    width: 300px;
  }
  .w-304px {
    width: 304px;
  }
  .w-308px {
    width: 308px;
  }
  .w-312px {
    width: 312px;
  }
  .w-316px {
    width: 316px;
  }
  .w-320px {
    width: 320px;
  }
  .w-324px {
    width: 324px;
  }
  .w-328px {
    width: 328px;
  }
  .w-332px {
    width: 332px;
  }
  .w-336px {
    width: 336px;
  }
  .w-340px {
    width: 340px;
  }
  .w-344px {
    width: 344px;
  }
  .w-348px {
    width: 348px;
  }
  .w-352px {
    width: 352px;
  }
  .w-356px {
    width: 356px;
  }
  .w-360px {
    width: 360px;
  }
  .w-364px {
    width: 364px;
  }
  .w-368px {
    width: 368px;
  }
  .w-372px {
    width: 372px;
  }
  .w-376px {
    width: 376px;
  }
  .w-380px {
    width: 380px;
  }
  .w-384px {
    width: 384px;
  }
  .w-388px {
    width: 388px;
  }
  .w-392px {
    width: 392px;
  }
  .w-396px {
    width: 396px;
  }
  .w-400px {
    width: 400px;
  }
  .w-404px {
    width: 404px;
  }
  .w-408px {
    width: 408px;
  }
  .w-412px {
    width: 412px;
  }
  .w-416px {
    width: 416px;
  }
  .w-420px {
    width: 420px;
  }
  .w-424px {
    width: 424px;
  }
  .w-428px {
    width: 428px;
  }
  .w-432px {
    width: 432px;
  }
  .w-436px {
    width: 436px;
  }
  .w-440px {
    width: 440px;
  }
  .w-444px {
    width: 444px;
  }
  .w-448px {
    width: 448px;
  }
  .w-452px {
    width: 452px;
  }
  .w-456px {
    width: 456px;
  }
  .w-460px {
    width: 460px;
  }
  .w-464px {
    width: 464px;
  }
  .w-468px {
    width: 468px;
  }
  .w-472px {
    width: 472px;
  }
  .w-476px {
    width: 476px;
  }
  .w-480px {
    width: 480px;
  }
  .w-484px {
    width: 484px;
  }
  .w-488px {
    width: 488px;
  }
  .w-492px {
    width: 492px;
  }
  .w-496px {
    width: 496px;
  }
  .w-500px {
    width: 500px;
  }
  .w-504px {
    width: 504px;
  }
  .w-508px {
    width: 508px;
  }
  .w-512px {
    width: 512px;
  }
  .w-516px {
    width: 516px;
  }
  .w-520px {
    width: 520px;
  }
  .w-524px {
    width: 524px;
  }
  .w-528px {
    width: 528px;
  }
  .w-532px {
    width: 532px;
  }
  .w-536px {
    width: 536px;
  }
  .w-540px {
    width: 540px;
  }
  .w-544px {
    width: 544px;
  }
  .w-548px {
    width: 548px;
  }
  .w-552px {
    width: 552px;
  }
  .w-556px {
    width: 556px;
  }
  .w-560px {
    width: 560px;
  }
  .w-564px {
    width: 564px;
  }
  .w-568px {
    width: 568px;
  }
  .w-572px {
    width: 572px;
  }
  .w-576px {
    width: 576px;
  }
  .w-580px {
    width: 580px;
  }
  .w-584px {
    width: 584px;
  }
  .w-588px {
    width: 588px;
  }
  .w-592px {
    width: 592px;
  }
  .w-596px {
    width: 596px;
  }
  .w-600px {
    width: 600px;
  }
  .w-604px {
    width: 604px;
  }
  .w-608px {
    width: 608px;
  }
  .w-612px {
    width: 612px;
  }
  .w-616px {
    width: 616px;
  }
  .w-620px {
    width: 620px;
  }
  .w-624px {
    width: 624px;
  }
  .w-628px {
    width: 628px;
  }
  .w-632px {
    width: 632px;
  }
  .w-636px {
    width: 636px;
  }
  .w-640px {
    width: 640px;
  }
  .w-644px {
    width: 644px;
  }
  .w-648px {
    width: 648px;
  }
  .w-652px {
    width: 652px;
  }
  .w-656px {
    width: 656px;
  }
  .w-660px {
    width: 660px;
  }
  .w-664px {
    width: 664px;
  }
  .w-668px {
    width: 668px;
  }
  .w-672px {
    width: 672px;
  }
  .w-676px {
    width: 676px;
  }
  .w-680px {
    width: 680px;
  }
  .w-684px {
    width: 684px;
  }
  .w-688px {
    width: 688px;
  }
  .w-692px {
    width: 692px;
  }
  .w-696px {
    width: 696px;
  }
  .w-700px {
    width: 700px;
  }
  .w-704px {
    width: 704px;
  }
  .w-708px {
    width: 708px;
  }
  .w-712px {
    width: 712px;
  }
  .w-716px {
    width: 716px;
  }
  .w-720px {
    width: 720px;
  }
  .w-724px {
    width: 724px;
  }
  .w-728px {
    width: 728px;
  }
  .w-732px {
    width: 732px;
  }
  .w-736px {
    width: 736px;
  }
  .w-740px {
    width: 740px;
  }
  .w-744px {
    width: 744px;
  }
  .w-748px {
    width: 748px;
  }
  .w-752px {
    width: 752px;
  }
  .w-756px {
    width: 756px;
  }
  .w-760px {
    width: 760px;
  }
  .w-764px {
    width: 764px;
  }
  .w-768px {
    width: 768px;
  }
  .w-772px {
    width: 772px;
  }
  .w-776px {
    width: 776px;
  }
  .w-780px {
    width: 780px;
  }
  .w-784px {
    width: 784px;
  }
  .w-788px {
    width: 788px;
  }
  .w-792px {
    width: 792px;
  }
  .w-796px {
    width: 796px;
  }
  .w-800px {
    width: 800px;
  }
}
