@layer utilities {
  .text-subtle {
    color: var(--i-text-subtle-color);
  }
  .text-inverted {
    color: var(--i-text-inverted-color);
  }
  .text-link {
    color: var(--i-text-link-color);
  }
  .text-info {
    color: var(--i-text-info-color);
  }
  .text-warning {
    color: var(--i-text-warning-color);
  }
  .text-danger {
    color: var(--i-text-danger-color);
  }
  .text-success {
    color: var(--i-text-success-color);
  }
}

/* AMBER */
@layer utilities {
  .text-amber {
    color: var(--i-color-amber);
  }
  .text-amber-50 {
    color: var(--i-color-amber-50);
  }
  .text-amber-100 {
    color: var(--i-color-amber-100);
  }
  .text-amber-200 {
    color: var(--i-color-amber-200);
  }
  .text-amber-300 {
    color: var(--i-color-amber-300);
  }
  .text-amber-400 {
    color: var(--i-color-amber-400);
  }
  .text-amber-500 {
    color: var(--i-color-amber-500);
  }
  .text-amber-600 {
    color: var(--i-color-amber-600);
  }
  .text-amber-700 {
    color: var(--i-color-amber-700);
  }
  .text-amber-800 {
    color: var(--i-color-amber-800);
  }
  .text-amber-900 {
    color: var(--i-color-amber-900);
  }
  .text-amber-950 {
    color: var(--i-color-amber-950);
  }
}

/* BLUE */
@layer utilities {
  .text-blue {
    color: var(--i-color-blue);
  }
  .text-blue-50 {
    color: var(--i-color-blue-50);
  }
  .text-blue-100 {
    color: var(--i-color-blue-100);
  }
  .text-blue-200 {
    color: var(--i-color-blue-200);
  }
  .text-blue-300 {
    color: var(--i-color-blue-300);
  }
  .text-blue-400 {
    color: var(--i-color-blue-400);
  }
  .text-blue-500 {
    color: var(--i-color-blue-500);
  }
  .text-blue-600 {
    color: var(--i-color-blue-600);
  }
  .text-blue-700 {
    color: var(--i-color-blue-700);
  }
  .text-blue-800 {
    color: var(--i-color-blue-800);
  }
  .text-blue-900 {
    color: var(--i-color-blue-900);
  }
  .text-blue-950 {
    color: var(--i-color-blue-950);
  }
}

/* BROWN */
@layer utilities {
  .text-brown {
    color: var(--i-color-brown);
  }
  .text-brown-50 {
    color: var(--i-color-brown-50);
  }
  .text-brown-100 {
    color: var(--i-color-brown-100);
  }
  .text-brown-200 {
    color: var(--i-color-brown-200);
  }
  .text-brown-300 {
    color: var(--i-color-brown-300);
  }
  .text-brown-400 {
    color: var(--i-color-brown-400);
  }
  .text-brown-500 {
    color: var(--i-color-brown-500);
  }
  .text-brown-600 {
    color: var(--i-color-brown-600);
  }
  .text-brown-700 {
    color: var(--i-color-brown-700);
  }
  .text-brown-800 {
    color: var(--i-color-brown-800);
  }
  .text-brown-900 {
    color: var(--i-color-brown-900);
  }
  .text-brown-950 {
    color: var(--i-color-brown-950);
  }
}

/* CYAN */
@layer utilities {
  .text-cyan {
    color: var(--i-color-cyan);
  }
  .text-cyan-50 {
    color: var(--i-color-cyan-50);
  }
  .text-cyan-100 {
    color: var(--i-color-cyan-100);
  }
  .text-cyan-200 {
    color: var(--i-color-cyan-200);
  }
  .text-cyan-300 {
    color: var(--i-color-cyan-300);
  }
  .text-cyan-400 {
    color: var(--i-color-cyan-400);
  }
  .text-cyan-500 {
    color: var(--i-color-cyan-500);
  }
  .text-cyan-600 {
    color: var(--i-color-cyan-600);
  }
  .text-cyan-700 {
    color: var(--i-color-cyan-700);
  }
  .text-cyan-800 {
    color: var(--i-color-cyan-800);
  }
  .text-cyan-900 {
    color: var(--i-color-cyan-900);
  }
  .text-cyan-950 {
    color: var(--i-color-cyan-950);
  }
}

/* EMERALD */
@layer utilities {
  .text-emerald {
    color: var(--i-color-emerald);
  }
  .text-emerald-50 {
    color: var(--i-color-emerald-50);
  }
  .text-emerald-100 {
    color: var(--i-color-emerald-100);
  }
  .text-emerald-200 {
    color: var(--i-color-emerald-200);
  }
  .text-emerald-300 {
    color: var(--i-color-emerald-300);
  }
  .text-emerald-400 {
    color: var(--i-color-emerald-400);
  }
  .text-emerald-500 {
    color: var(--i-color-emerald-500);
  }
  .text-emerald-600 {
    color: var(--i-color-emerald-600);
  }
  .text-emerald-700 {
    color: var(--i-color-emerald-700);
  }
  .text-emerald-800 {
    color: var(--i-color-emerald-800);
  }
  .text-emerald-900 {
    color: var(--i-color-emerald-900);
  }
  .text-emerald-950 {
    color: var(--i-color-emerald-950);
  }
}

/* FUCHSIA */
@layer utilities {
  .text-fuchsia {
    color: var(--i-color-fuchsia);
  }
  .text-fuchsia-50 {
    color: var(--i-color-fuchsia-50);
  }
  .text-fuchsia-100 {
    color: var(--i-color-fuchsia-100);
  }
  .text-fuchsia-200 {
    color: var(--i-color-fuchsia-200);
  }
  .text-fuchsia-300 {
    color: var(--i-color-fuchsia-300);
  }
  .text-fuchsia-400 {
    color: var(--i-color-fuchsia-400);
  }
  .text-fuchsia-500 {
    color: var(--i-color-fuchsia-500);
  }
  .text-fuchsia-600 {
    color: var(--i-color-fuchsia-600);
  }
  .text-fuchsia-700 {
    color: var(--i-color-fuchsia-700);
  }
  .text-fuchsia-800 {
    color: var(--i-color-fuchsia-800);
  }
  .text-fuchsia-900 {
    color: var(--i-color-fuchsia-900);
  }
  .text-fuchsia-950 {
    color: var(--i-color-fuchsia-950);
  }
}

/* GRAY */
@layer utilities {
  .text-gray {
    color: var(--i-color-gray);
  }
  .text-gray-50 {
    color: var(--i-color-gray-50);
  }
  .text-gray-100 {
    color: var(--i-color-gray-100);
  }
  .text-gray-200 {
    color: var(--i-color-gray-200);
  }
  .text-gray-300 {
    color: var(--i-color-gray-300);
  }
  .text-gray-400 {
    color: var(--i-color-gray-400);
  }
  .text-gray-500 {
    color: var(--i-color-gray-500);
  }
  .text-gray-600 {
    color: var(--i-color-gray-600);
  }
  .text-gray-700 {
    color: var(--i-color-gray-700);
  }
  .text-gray-800 {
    color: var(--i-color-gray-800);
  }
  .text-gray-900 {
    color: var(--i-color-gray-900);
  }
  .text-gray-950 {
    color: var(--i-color-gray-950);
  }
}

/* GREEN */
@layer utilities {
  .text-green {
    color: var(--i-color-green);
  }
  .text-green-50 {
    color: var(--i-color-green-50);
  }
  .text-green-100 {
    color: var(--i-color-green-100);
  }
  .text-green-200 {
    color: var(--i-color-green-200);
  }
  .text-green-300 {
    color: var(--i-color-green-300);
  }
  .text-green-400 {
    color: var(--i-color-green-400);
  }
  .text-green-500 {
    color: var(--i-color-green-500);
  }
  .text-green-600 {
    color: var(--i-color-green-600);
  }
  .text-green-700 {
    color: var(--i-color-green-700);
  }
  .text-green-800 {
    color: var(--i-color-green-800);
  }
  .text-green-900 {
    color: var(--i-color-green-900);
  }
  .text-green-950 {
    color: var(--i-color-green-950);
  }
}

/* INDIGO */
@layer utilities {
  .text-indigo {
    color: var(--i-color-indigo);
  }
  .text-indigo-50 {
    color: var(--i-color-indigo-50);
  }
  .text-indigo-100 {
    color: var(--i-color-indigo-100);
  }
  .text-indigo-200 {
    color: var(--i-color-indigo-200);
  }
  .text-indigo-300 {
    color: var(--i-color-indigo-300);
  }
  .text-indigo-400 {
    color: var(--i-color-indigo-400);
  }
  .text-indigo-500 {
    color: var(--i-color-indigo-500);
  }
  .text-indigo-600 {
    color: var(--i-color-indigo-600);
  }
  .text-indigo-700 {
    color: var(--i-color-indigo-700);
  }
  .text-indigo-800 {
    color: var(--i-color-indigo-800);
  }
  .text-indigo-900 {
    color: var(--i-color-indigo-900);
  }
  .text-indigo-950 {
    color: var(--i-color-indigo-950);
  }
}

/* LIME */
@layer utilities {
  .text-lime {
    color: var(--i-color-lime);
  }
  .text-lime-50 {
    color: var(--i-color-lime-50);
  }
  .text-lime-100 {
    color: var(--i-color-lime-100);
  }
  .text-lime-200 {
    color: var(--i-color-lime-200);
  }
  .text-lime-300 {
    color: var(--i-color-lime-300);
  }
  .text-lime-400 {
    color: var(--i-color-lime-400);
  }
  .text-lime-500 {
    color: var(--i-color-lime-500);
  }
  .text-lime-600 {
    color: var(--i-color-lime-600);
  }
  .text-lime-700 {
    color: var(--i-color-lime-700);
  }
  .text-lime-800 {
    color: var(--i-color-lime-800);
  }
  .text-lime-900 {
    color: var(--i-color-lime-900);
  }
  .text-lime-950 {
    color: var(--i-color-lime-950);
  }
}

/* ORANGE */
@layer utilities {
  .text-orange {
    color: var(--i-color-orange);
  }
  .text-orange-50 {
    color: var(--i-color-orange-50);
  }
  .text-orange-100 {
    color: var(--i-color-orange-100);
  }
  .text-orange-200 {
    color: var(--i-color-orange-200);
  }
  .text-orange-300 {
    color: var(--i-color-orange-300);
  }
  .text-orange-400 {
    color: var(--i-color-orange-400);
  }
  .text-orange-500 {
    color: var(--i-color-orange-500);
  }
  .text-orange-600 {
    color: var(--i-color-orange-600);
  }
  .text-orange-700 {
    color: var(--i-color-orange-700);
  }
  .text-orange-800 {
    color: var(--i-color-orange-800);
  }
  .text-orange-900 {
    color: var(--i-color-orange-900);
  }
  .text-orange-950 {
    color: var(--i-color-orange-950);
  }
}

/* PINK */
@layer utilities {
  .text-pink {
    color: var(--i-color-pink);
  }
  .text-pink-50 {
    color: var(--i-color-pink-50);
  }
  .text-pink-100 {
    color: var(--i-color-pink-100);
  }
  .text-pink-200 {
    color: var(--i-color-pink-200);
  }
  .text-pink-300 {
    color: var(--i-color-pink-300);
  }
  .text-pink-400 {
    color: var(--i-color-pink-400);
  }
  .text-pink-500 {
    color: var(--i-color-pink-500);
  }
  .text-pink-600 {
    color: var(--i-color-pink-600);
  }
  .text-pink-700 {
    color: var(--i-color-pink-700);
  }
  .text-pink-800 {
    color: var(--i-color-pink-800);
  }
  .text-pink-900 {
    color: var(--i-color-pink-900);
  }
  .text-pink-950 {
    color: var(--i-color-pink-950);
  }
}

/* PURPLE */
@layer utilities {
  .text-purple {
    color: var(--i-color-purple);
  }
  .text-purple-50 {
    color: var(--i-color-purple-50);
  }
  .text-purple-100 {
    color: var(--i-color-purple-100);
  }
  .text-purple-200 {
    color: var(--i-color-purple-200);
  }
  .text-purple-300 {
    color: var(--i-color-purple-300);
  }
  .text-purple-400 {
    color: var(--i-color-purple-400);
  }
  .text-purple-500 {
    color: var(--i-color-purple-500);
  }
  .text-purple-600 {
    color: var(--i-color-purple-600);
  }
  .text-purple-700 {
    color: var(--i-color-purple-700);
  }
  .text-purple-800 {
    color: var(--i-color-purple-800);
  }
  .text-purple-900 {
    color: var(--i-color-purple-900);
  }
  .text-purple-950 {
    color: var(--i-color-purple-950);
  }
}

/* RED */
@layer utilities {
  .text-red {
    color: var(--i-color-red);
  }
  .text-red-50 {
    color: var(--i-color-red-50);
  }
  .text-red-100 {
    color: var(--i-color-red-100);
  }
  .text-red-200 {
    color: var(--i-color-red-200);
  }
  .text-red-300 {
    color: var(--i-color-red-300);
  }
  .text-red-400 {
    color: var(--i-color-red-400);
  }
  .text-red-500 {
    color: var(--i-color-red-500);
  }
  .text-red-600 {
    color: var(--i-color-red-600);
  }
  .text-red-700 {
    color: var(--i-color-red-700);
  }
  .text-red-800 {
    color: var(--i-color-red-800);
  }
  .text-red-900 {
    color: var(--i-color-red-900);
  }
  .text-red-950 {
    color: var(--i-color-red-950);
  }
}

/* ROSE */
@layer utilities {
  .text-rose {
    color: var(--i-color-rose);
  }
  .text-rose-50 {
    color: var(--i-color-rose-50);
  }
  .text-rose-100 {
    color: var(--i-color-rose-100);
  }
  .text-rose-200 {
    color: var(--i-color-rose-200);
  }
  .text-rose-300 {
    color: var(--i-color-rose-300);
  }
  .text-rose-400 {
    color: var(--i-color-rose-400);
  }
  .text-rose-500 {
    color: var(--i-color-rose-500);
  }
  .text-rose-600 {
    color: var(--i-color-rose-600);
  }
  .text-rose-700 {
    color: var(--i-color-rose-700);
  }
  .text-rose-800 {
    color: var(--i-color-rose-800);
  }
  .text-rose-900 {
    color: var(--i-color-rose-900);
  }
  .text-rose-950 {
    color: var(--i-color-rose-950);
  }
}

/* SKY */
@layer utilities {
  .text-sky {
    color: var(--i-color-sky);
  }
  .text-sky-50 {
    color: var(--i-color-sky-50);
  }
  .text-sky-100 {
    color: var(--i-color-sky-100);
  }
  .text-sky-200 {
    color: var(--i-color-sky-200);
  }
  .text-sky-300 {
    color: var(--i-color-sky-300);
  }
  .text-sky-400 {
    color: var(--i-color-sky-400);
  }
  .text-sky-500 {
    color: var(--i-color-sky-500);
  }
  .text-sky-600 {
    color: var(--i-color-sky-600);
  }
  .text-sky-700 {
    color: var(--i-color-sky-700);
  }
  .text-sky-800 {
    color: var(--i-color-sky-800);
  }
  .text-sky-900 {
    color: var(--i-color-sky-900);
  }
  .text-sky-950 {
    color: var(--i-color-sky-950);
  }
}

/* SLATE */
@layer utilities {
  .text-slate {
    color: var(--i-color-slate);
  }
  .text-slate-50 {
    color: var(--i-color-slate-50);
  }
  .text-slate-100 {
    color: var(--i-color-slate-100);
  }
  .text-slate-200 {
    color: var(--i-color-slate-200);
  }
  .text-slate-300 {
    color: var(--i-color-slate-300);
  }
  .text-slate-400 {
    color: var(--i-color-slate-400);
  }
  .text-slate-500 {
    color: var(--i-color-slate-500);
  }
  .text-slate-600 {
    color: var(--i-color-slate-600);
  }
  .text-slate-700 {
    color: var(--i-color-slate-700);
  }
  .text-slate-800 {
    color: var(--i-color-slate-800);
  }
  .text-slate-900 {
    color: var(--i-color-slate-900);
  }
  .text-slate-950 {
    color: var(--i-color-slate-950);
  }
}

/* STONE */
@layer utilities {
  .text-stone {
    color: var(--i-color-stone);
  }
  .text-stone-50 {
    color: var(--i-color-stone-50);
  }
  .text-stone-100 {
    color: var(--i-color-stone-100);
  }
  .text-stone-200 {
    color: var(--i-color-stone-200);
  }
  .text-stone-300 {
    color: var(--i-color-stone-300);
  }
  .text-stone-400 {
    color: var(--i-color-stone-400);
  }
  .text-stone-500 {
    color: var(--i-color-stone-500);
  }
  .text-stone-600 {
    color: var(--i-color-stone-600);
  }
  .text-stone-700 {
    color: var(--i-color-stone-700);
  }
  .text-stone-800 {
    color: var(--i-color-stone-800);
  }
  .text-stone-900 {
    color: var(--i-color-stone-900);
  }
  .text-stone-950 {
    color: var(--i-color-stone-950);
  }
}

/* TEAL */
@layer utilities {
  .text-teal {
    color: var(--i-color-teal);
  }
  .text-teal-50 {
    color: var(--i-color-teal-50);
  }
  .text-teal-100 {
    color: var(--i-color-teal-100);
  }
  .text-teal-200 {
    color: var(--i-color-teal-200);
  }
  .text-teal-300 {
    color: var(--i-color-teal-300);
  }
  .text-teal-400 {
    color: var(--i-color-teal-400);
  }
  .text-teal-500 {
    color: var(--i-color-teal-500);
  }
  .text-teal-600 {
    color: var(--i-color-teal-600);
  }
  .text-teal-700 {
    color: var(--i-color-teal-700);
  }
  .text-teal-800 {
    color: var(--i-color-teal-800);
  }
  .text-teal-900 {
    color: var(--i-color-teal-900);
  }
  .text-teal-950 {
    color: var(--i-color-teal-950);
  }
}

/* VIOLET */
@layer utilities {
  .text-violet {
    color: var(--i-color-violet);
  }
  .text-violet-50 {
    color: var(--i-color-violet-50);
  }
  .text-violet-100 {
    color: var(--i-color-violet-100);
  }
  .text-violet-200 {
    color: var(--i-color-violet-200);
  }
  .text-violet-300 {
    color: var(--i-color-violet-300);
  }
  .text-violet-400 {
    color: var(--i-color-violet-400);
  }
  .text-violet-500 {
    color: var(--i-color-violet-500);
  }
  .text-violet-600 {
    color: var(--i-color-violet-600);
  }
  .text-violet-700 {
    color: var(--i-color-violet-700);
  }
  .text-violet-800 {
    color: var(--i-color-violet-800);
  }
  .text-violet-900 {
    color: var(--i-color-violet-900);
  }
  .text-violet-950 {
    color: var(--i-color-violet-950);
  }
}

/* YELLOW */
@layer utilities {
  .text-yellow {
    color: var(--i-color-yellow);
  }
  .text-yellow-50 {
    color: var(--i-color-yellow-50);
  }
  .text-yellow-100 {
    color: var(--i-color-yellow-100);
  }
  .text-yellow-200 {
    color: var(--i-color-yellow-200);
  }
  .text-yellow-300 {
    color: var(--i-color-yellow-300);
  }
  .text-yellow-400 {
    color: var(--i-color-yellow-400);
  }
  .text-yellow-500 {
    color: var(--i-color-yellow-500);
  }
  .text-yellow-600 {
    color: var(--i-color-yellow-600);
  }
  .text-yellow-700 {
    color: var(--i-color-yellow-700);
  }
  .text-yellow-800 {
    color: var(--i-color-yellow-800);
  }
  .text-yellow-900 {
    color: var(--i-color-yellow-900);
  }
  .text-yellow-950 {
    color: var(--i-color-yellow-950);
  }
}

/* ZINC */
@layer utilities {
  .text-zinc {
    color: var(--i-color-zinc);
  }
  .text-zinc-50 {
    color: var(--i-color-zinc-50);
  }
  .text-zinc-100 {
    color: var(--i-color-zinc-100);
  }
  .text-zinc-200 {
    color: var(--i-color-zinc-200);
  }
  .text-zinc-300 {
    color: var(--i-color-zinc-300);
  }
  .text-zinc-400 {
    color: var(--i-color-zinc-400);
  }
  .text-zinc-500 {
    color: var(--i-color-zinc-500);
  }
  .text-zinc-600 {
    color: var(--i-color-zinc-600);
  }
  .text-zinc-700 {
    color: var(--i-color-zinc-700);
  }
  .text-zinc-800 {
    color: var(--i-color-zinc-800);
  }
  .text-zinc-900 {
    color: var(--i-color-zinc-900);
  }
  .text-zinc-950 {
    color: var(--i-color-zinc-950);
  }
}
