/* semantic color */
@layer utilities {
  .text-subtle {
    color: var(--i-text-subtle-color);
  }
  .text-info {
    color: var(--i-text-info-color);
  }
  .text-warning {
    color: var(--i-text-warning-color);
  }
  .text-danger {
    color: var(--i-text-danger-color);
  }
  .text-success {
    color: var(--i-text-success-color);
  }
  .text-black {
    color: var(--i-color-black);
  }
  .text-white {
    color: var(--i-color-white);
  }
}
