i-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: var(--i-border-light);
  border-radius: var(--i-radius-lg);
  background-color: var(--i-color-surface);
  padding: var(--i-spacing-sm);

  &:hover {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1);
    background-color: var(--i-color-gray-50);
  }
}
