i-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--i-spacing-3xs);
  color: var(--i-color-text);

  &[light='true'],
  &.light {
    color: var(--i-color-white);
  }
}
