:root {
  --i-gap-2xs: 2px;
  --i-gap-xs: 4px;
  --i-gap-sm: 6px;
  --i-gap-md: 8px;
  --i-gap-lg: 10px;
  --i-gap-xl: 12px;
  --i-gap-2xl: 16px;
  --i-gap-3xl: 24px;
  --i-gap-4xl: 32px;
  --i-gap-5xl: 48px;
  --i-gap-6xl: 64px;
}
