@layer themes {
  :root {
    --i-radius-none: none;
    --i-radius-2xs: 5px;
    --i-radius-xs: 6px;
    --i-radius-sm: 7px;
    --i-radius-md: 8px;
    --i-radius-lg: 10px;
    --i-radius-xl: 16px;
    --i-radius-2xl: 24px;
    --i-radius-full: 9999px;
  }
}
