:root {
  --i-font-size-2xs: 8px;
  --i-font-size-xs: 10px;
  --i-font-size-sm: 12px;
  --i-font-size-md: 14px;
  --i-font-size-lg: 16px;
  --i-font-size-xl: 20px;
  --i-font-size-2xl: 24px;
  --i-font-size-3xl: 28px;
  --i-font-size-4xl: 32px;

  --i-font-family-heading: 'Poppins';
  --i-font-family-body: 'Source Sans 3';

  --i-line-height-cramp: 1px;
  --i-line-height-tight: 1.2000000476837158px;
  --i-line-height-normal: 1.5px;
  --i-line-height-relaxed: 1.75px;

  --i-line-height-1: 1.25;
  --i-line-height-2: 1.3;
  --i-line-height-3: 1.35;
  --i-line-height-4: 1.4;
  --i-line-height-5: 1.45;
  --i-line-height-6: 1.5;
  --i-line-height-7: 1.6;

  --i-font-weight-thin: 100px;
  --i-font-weight-extra-light: 200px;
  --i-font-weight-light: 300px;
  --i-font-weight-regular: 400px;
  --i-font-weight-medium: 500px;
  --i-font-weight-semi-bold: 600px;
  --i-font-weight-bold: 700px;
  --i-font-weight-extra-bold: 800px;
  --i-font-weight-black: 900px;
}
