@layer base {
  *,
  :after,
  :before,
  ::backdrop {
    box-sizing: border-box;
    margin: 0;
    border: 0 solid;
    background-color: var(--i-background-color, initial);
    padding: 0;
  }

  html {
    /* optional: keep consistent scaling across browsers */
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
  }

  body {
    /* background-color: var(--i-color-gray-50); */
    width: 100%;
    height: 100%;
    color: var(--i-text-color, currentColor);
    font-size: var(--i-text-md, 14px);
    line-height: var(--i-leading-normal, 1.5);
    font-family: var(--i-font-body, var(--i-font-sans));
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    /* > #root {
      padding: var(--i-padding-xl);
      width: 100%;
      height: 100%;
    } */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: inherit;
    font-weight: 700; /* adjust if you want tokens later */
    font-family: var(--i-font-heading, var(--i-font-sans));
  }

  h1 {
    font-weight: var(--i-font-weight-bold);
    font-size: var(--i-text-4xl);
    line-height: var(--i-heading-leading-1);
  }

  h2 {
    font-weight: var(--i-font-weight-semi-bold);
    font-size: var(--i-text-3xl);
    line-height: var(--i-heading-leading-2);
  }

  h3 {
    font-weight: var(--i-font-weight-semi-bold);
    font-size: var(--i-text-2xl);
    line-height: var(--i-heading-leading-3);
  }

  h4 {
    font-weight: var(--i-font-weight-medium);
    font-size: var(--i-text-xl);
    line-height: var(--i-heading-leading-4);
  }

  h5 {
    font-weight: var(--i-font-weight-medium);
    font-size: var(--i-text-lg);
    line-height: var(--i-heading-leading-5);
  }

  h6 {
    font-weight: var(--i-font-weight-medium);
    font-size: var(--i-text-md);
    line-height: var(--i-heading-leading-6);
  }

  code,
  kbd,
  samp,
  pre {
    font-size: var(--i-text-md);
    font-family: var(
      --i-font-mono,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      'Liberation Mono',
      'Courier New',
      monospace
    );
  }

  code {
    --i-background-color: var(--i-color-gray-100);
    border-radius: var(--i-radius-sm);
    padding: var(--i-padding-2xs) var(--i-padding-xs);
  }

  pre {
    margin: 0;
    overflow: auto;
    white-space: pre;
  }

  p {
    margin: 0px;
    font-weight: var(--i-font-weight-regular);
    font-size: var(--i-text-md);
    font-family: var(--i-font-body);
  }

  small {
    font-size: var(--i-text-sm, 14px);
    line-height: var(--i-leading-normal, 1.5);
  }

  em,
  i {
    font-style: italic;
  }

  a {
    color: var(--i-text-link-color, inherit);
    font-weight: var(--i-font-weight-regular);
    line-height: var(--i-heading-leading-7);
    text-decoration: none;
  }

  a,
  button {
    cursor: pointer;
  }

  table,
  th,
  td {
    border: var(--i-border);
    border-collapse: collapse;
    padding: var(--i-padding-sm);
    text-align: left;
  }

  th {
    background-color: var(--i-color-gray-50);
  }
}
