@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Poppins,
      density: 0,
    ));

  @include mat.dialog-overrides((container-shape: var(--i-radius-md),
      container-color: var(--i-color-gray-50),
      subhead-size: var(--i-text-lg),
      headline-padding: var(--i-spacing-xs) var(--i-spacing-md),
      content-padding: var(--i-spacing-sm) var(--i-spacing-md),
      with-actions-content-padding: var(--i-spacing-sm) var(--i-spacing-md),
      actions-padding: var(--i-spacing-xs) var(--i-spacing-md),
      container-max-width: auto));
}