.gap-2xs {
  gap: var(--i-gap-2xs) !important;
}

.gap-xs {
  gap: var(--i-gap-xs) !important;
}

.gap-sm {
  gap: var(--i-gap-sm) !important;
}

.gap-md {
  gap: var(--i-gap-md) !important;
}

.gap-lg {
  gap: var(--i-gap-lg) !important;
}

.gap-xl {
  gap: var(--i-gap-xl) !important;
}

.gap-2xl {
  gap: var(--i-gap-2xl) !important;
}

.gap-3xl {
  gap: var(--i-gap-3xl) !important;
}

.gap-4xl {
  gap: var(--i-gap-4xl) !important;
}

.gap-5xl {
  gap: var(--i-gap-5xl) !important;
}

.gap-6xl {
  gap: var(--i-gap-6xl) !important;
}
