:root {
  --i-padding-3xs: 2px;
  --i-padding-2xs: 4px;
  --i-padding-xs: 8px;
  --i-padding-sm: 10px;
  --i-padding-md: 12px;
  --i-padding-lg: 16px;
  --i-padding-xl: 24px;
  --i-padding-2xl: 32px;
}
