:root {
  --i-size-s0: 0px;
  --i-size-s2: 2px;
  --i-size-s4: 4px;
  --i-size-s6: 6px;
  --i-size-s7: 7px;
  --i-size-s8: 8px;
  --i-size-s10: 10px;
  --i-size-s12: 12px;
  --i-size-s14: 14px;
  --i-size-s16: 16px;
  --i-size-s18: 18px;
  --i-size-s19: 19px;
  --i-size-s20: 20px;
  --i-size-s24: 24px;
  --i-size-s28: 28px;
  --i-size-s32: 32px;
  --i-size-s34: 34px;
  --i-size-s38: 38px;
  --i-size-s40: 40px;
  --i-size-s42: 42px;
  --i-size-s48: 48px;
  --i-size-s56: 56px;
  --i-size-s64: 64px;
  --i-size-s96: 96px;
  --i-size-s300: 300px;
  --i-size-s9999: 9999px;

  --i-size-2xs: 16px;
  --i-size-xs: 24px;
  --i-size-sm: 30px;
  --i-size-md: 34px;
  --i-size-lg: 40px;
}
