/* font-weight */
@layer themes {
  :root {
    --i-font-weight-thin: 100px;
    --i-font-weight-extra-light: 200px;
    --i-font-weight-light: 300px;
    --i-font-weight-regular: 400px;
    --i-font-weight-medium: 500px;
    --i-font-weight-semi-bold: 600px;
    --i-font-weight-bold: 700px;
    --i-font-weight-extra-bold: 800px;
    --i-font-weight-black: 900px;
  }
}
