/* font-family */
@layer themes {
  :root {
    --i-font-heading: 'Poppins', ui-sans-serif, system-ui, sans-serif;
    --i-font-body: 'Source Sans 3', ui-sans-serif, system-ui, sans-serif;
    --i-font-sans:
      ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --i-font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
      monospace;
  }
}
