/* line heights */
@layer themes {
  :root {
    --i-leading-none: 1;
    --i-leading-tight: 1.1;
    --i-leading-snug: 1.25;
    --i-leading-normal: 1.5;
    --i-leading-relaxed: 1.75;
    --i-leading-loose: 2;

    --i-heading-leading-1: 1.1;
    --i-heading-leading-2: 1.15;
    --i-heading-leading-3: 1.2;
    --i-heading-leading-4: 1.25;
    --i-heading-leading-5: 1.3;
    --i-heading-leading-6: 1.35;
    --i-heading-leading-7: 1.4;
  }
}
