/* semantic color */
@layer themes {
  :root {
    --i-text-color: var(--i-color-gray-700);
    --i-text-subtle-color: var(--i-color-gray-500);
    --i-text-inverted-color: var(--i-color-gray-50);
    --i-text-link-color: var(--i-color-blue-600);
    --i-text-info-color: var(--i-color-blue-500);
    --i-text-warning-color: var(--i-color-amber-400);
    --i-text-danger-color: var(--i-color-red-500);
    --i-text-success-color: var(--i-color-green-400);
  }
}
