html,
body {
  margin: 0px;
  background-color: var(--i-color-gray-50);
  padding: 0px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Source Sans 3';
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  a,
  p {
    margin: 0px;
    font-family: var(--i-font-family-heading);
    /* color: var(--i-color-text); */
  }

  pre {
    margin: 0px;
  }

  h1 {
    font-weight: var(--i-font-weight-bold);
    font-size: var(--i-font-size-4xl);
    line-height: var(--i-line-height-1);
  }

  h2 {
    font-weight: var(--i-font-weight-semi-bold);
    font-size: var(--i-font-size-3xl);
    line-height: var(--i-line-height-2);
  }

  h3 {
    font-weight: var(--i-font-weight-semi-bold);
    font-size: var(--i-font-size-2xl);
    line-height: var(--i-line-height-3);
  }

  h4 {
    font-weight: var(--i-font-weight-medium);
    font-size: var(--i-font-size-xl);
    line-height: var(--i-line-height-4);
  }

  h5 {
    font-weight: var(--i-font-weight-medium);
    font-size: var(--i-font-size-lg);
    line-height: var(--i-line-height-5);
  }

  h6 {
    font-weight: var(--i-font-weight-medium);
    font-size: var(--i-font-size-md);
    line-height: var(--i-line-height-6);
  }

  a,
  p,
  label {
    font-weight: var(--i-font-weight-regular);
    font-size: var(--i-font-size-md);
    line-height: var(--i-line-height-7);
  }

  small {
    font-weight: var(--i-font-weight-regular);
    font-size: var(--i-font-size-sm);
    line-height: var(--i-line-height-4);
  }

  a {
    text-decoration: none;
  }

  a,
  button {
    cursor: pointer;
  }
}

.fit {
  object-fit: cover;
}
