@layer components {
  i-card {
    --i-background-color: var(--i-color-white);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: var(--i-shadow-xs);
    border: var(--i-border);
    border-radius: var(--i-radius-lg);
    overflow: hidden;

    a {
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;
      box-sizing: border-box;
      min-height: 0;
      max-height: 100%;
      color: var(--i-text-color);
      i-card-image {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      i-card-body {
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        box-sizing: border-box;
        padding: var(--i-spacing-sm);
        min-height: 0;
        max-height: 100%;
      }
      i-card-footer {
        --i-background-color: var(--i-color-gray-100);
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: var(--i-border);
        padding: var(--i-padding-2xs) var(--i-padding-md);
        text-align: center;
      }
    }

    &:hover {
      box-shadow: var(--i-shadow-sm);
      --i-background-color: var(--i-color-gray-50);
      i-card-footer {
        --i-background-color: var(--i-color-gray-200);
      }
    }

    &:active {
      box-shadow: var(--i-shadow-xs);
      --i-background-color: var(--i-color-gray-100);
      i-card-footer {
        --i-background-color: var(--i-color-gray-300);
      }
    }
  }
}
