@layer components {
  i-confirm {
    .i-confirm {
      --mat-dialog-content-padding: var(--i-spacing-xl) var(--i-spacing-md) var(--i-spacing-sm);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: var(--i-dialog-max-width);

      .i-dialog-content {
        ic,
        i-icon {
          margin-top: var(--i-spacing-md);
          margin-bottom: var(--i-spacing-md);
        }

        h4 {
          font-weight: 600;
          text-align: center;
        }

        p {
          color: var(--i-text-subtle-color);
          text-align: center;
          /* margin-bottom: var(--i-spacing-md); */
        }
      }

      &.i-confirm-information {
        .i-dialog-content {
          i,
          h4 {
            color: var(--i-color-primary);
          }
        }
      }

      &.i-confirm-success {
        .i-dialog-content {
          i,
          h4 {
            color: var(--i-color-success);
          }
        }
      }

      &.i-confirm-warning {
        .i-dialog-content {
          i,
          h4 {
            color: var(--i-color-warning);
          }
        }
      }

      &.i-confirm-danger {
        .i-dialog-content {
          i,
          h4 {
            color: var(--i-color-danger);
          }
        }
      }

      .i-dialog-actions {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
