@layer components {
  i-dialog-container {
    display: block;
    position: fixed;
    z-index: 1050;
    inset: 0;

    .i-dialog-backdrop {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.4);
    }

    .i-dialog-wrapper {
      display: flex;
      position: fixed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      inset: 0;
      pointer-events: none;
    }

    .i-dialog-panel {
      display: flex;
      /* flex: 1 1 0%; */
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
      border-radius: var(--i-radius-md);
      background-color: var(--i-color-gray-50);
      max-width: 90vw;
      max-height: 90vh;
      overflow: auto;
      pointer-events: auto;
      > * {
        display: flex;
        width: 100%;
      }
    }

    i-dialog {
      --i-dialog-max-width: 320px;
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;
      min-height: 0;
      max-height: 100%;

      .i-dialog-title {
        border-bottom: var(--i-border);
        background-color: var(--i-color-gray-50);
        padding: var(--i-spacing-sm) var(--i-spacing-md);

        & + .i-dialog-content {
          padding-top: var(--i-spacing-sm);
        }

        &:before {
          height: 0;
        }
      }

      .i-dialog-content {
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0;
        padding: var(--i-spacing-sm) var(--i-spacing-md);
        min-height: 0;
        max-height: 100%;
        overflow: hidden auto;

        /* &:has(i-input:last-child),
        &:has(i-fc-input:last-child),
        &:has(i-textarea:last-child),
        &:has(i-fc-textarea:last-child) {
          padding-bottom: 0px;
        } */

        &::-webkit-scrollbar {
          --i-background-color: rgba(255, 255, 255, 0.1);
          width: 6px;
          height: 6px;
        }

        &::-webkit-scrollbar-thumb {
          --i-background-color: var(--i-color-primary);
          border-radius: var(--i-radius-full);
        }
      }

      .i-dialog-actions {
        --i-background-color: var(--i-color-gray-100);
        display: flex;
        justify-content: end;
        align-items: center;
        gap: var(--i-spacing-3xs);
        border-top: var(--i-border);
        padding: var(--i-spacing-xs) var(--i-spacing-md);
        width: 100%;
        &:last-child {
          border-bottom-right-radius: var(--i-radius-md);
          border-bottom-left-radius: var(--i-radius-md);
        }
      }
    }
  }
}
