@import './host/content';
@import './host/menu';
@import './host/sidebar';

:root {
  --i-header-height: 50px;
}

ih-root {
  display: flex;
  flex-direction: row;
  margin: 0px;
  background-color: var(--i-color-gray-50);
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
