@import './host/content';
@import './host/menu';
@import './host/sidebar';
@layer themes {
  :root {
    --i-header-height: 50px;
  }
}

@layer components {
  ih-root,
  app-root,
  ir-standalone {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: var(--i-color-gray-50);
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}
