@layer components {
  ic,
  i-icon,
  .i-icon {
    --i-background-color: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
      --i-background-color: initial;
    }

    .i-icon-3xs {
      font-size: var(--i-icon-3xs);
    }

    .i-icon-2xs {
      font-size: var(--i-icon-2xs);
    }

    .i-icon-xs {
      font-size: var(--i-icon-xs);
    }

    .i-icon-sm {
      font-size: var(--i-icon-sm);
    }

    .i-icon-md {
      font-size: var(--i-icon-md);
    }

    .i-icon-lg {
      font-size: var(--i-icon-lg);
    }

    .i-icon-xl {
      font-size: var(--i-icon-xl);
    }

    .i-icon-2xl {
      font-size: var(--i-icon-2xl);
    }

    .i-icon-3xl {
      font-size: var(--i-icon-3xl);
    }

    .i-icon-4xl {
      font-size: var(--i-icon-4xl);
    }
  }
}
