@layer components {
  pl-stripe,
  .pl-stripe {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    box-shadow:
      inset 33vw 0px #16325b,
      inset calc(33vw + 4px) 0px #ffffff,
      inset calc(67vw - 4px) 0px #e29617,
      inset 67vw 0px #ffffff,
      inset 100vw 0px #16325b;
    height: 5px;
    pointer-events: none;
  }
}
