@layer components {
  i-section {
    --i-background-color: var(--i-color-white);
    display: flex;
    flex-direction: column;
    box-shadow: var(--i-shadow-xs);
    border: var(--i-border);
    border-radius: var(--i-radius-md);
    /* overflow: hidden; */

    & > * {
      border-bottom: var(--i-border);
      padding: var(--i-spacing-xs) var(--i-spacing-sm);

      &:first-child {
        border-top-right-radius: var(--i-radius-md);
        border-top-left-radius: var(--i-radius-md);
      }

      &:last-child {
        border-bottom: none;
        border-bottom-right-radius: var(--i-radius-md);
        border-bottom-left-radius: var(--i-radius-md);
      }

      &:only-child {
        border-bottom: none;
      }
    }

    i-section-sub-header {
      --i-background-color: var(--i-color-gray-100);
      padding: var(--i-padding-xs) var(--i-padding-lg);
    }

    i-section-filter {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--i-spacing-xs);
      padding-bottom: 0px;
      > i-button {
        margin-top: 18px;
      }
    }

    i-section-body {
      --i-flex-direction: column;
      display: flex;
      flex-direction: var(--i-flex-direction);
      padding: var(--i-spacing-sm);
    }

    i-section-tabs,
    .i-section-tabs {
      display: flex;
      flex-direction: column;
      background-color: var(--i-color-gray-50);
      padding: 0px;
      .i-section-tabs-headers {
        display: flex;
        border-bottom: var(--i-border);
        .i-section-tabs-header {
          display: flex;
          flex: 1 1 0%;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          border-right: var(--i-border);
          background-color: var(--i-color-gray-50);
          padding: var(--i-padding-sm) 0;
          width: auto;
          min-width: 0;
          max-width: 100%;
          font-size: var(--i-text-md);
          font-family: var(--i-font-heading);
          &.active {
            box-shadow: inset 0px -3px 0px var(--i-color-blue-500);
            background-color: var(--i-color-white);
          }
          &:last-child {
            border-right: none;
          }
          &:hover {
            background-color: var(--i-color-gray-100);
          }
          &:active {
            background-color: var(--i-color-gray-200);
          }
          .i-section-tab-title {
            --i-background-color: initial;
          }
        }
      }
      .i-section-tabs-content {
        display: flex;
        flex-direction: column;
        gap: var(--i-gap-2xl);
        padding: var(--i-padding-md) var(--i-padding-lg);
        &.scroll.scroll-y {
          box-sizing: border-box;
        }
      }
      &:first-child {
        border-radius: var(--i-radius-md);
        .i-section-tabs-headers {
          border-top-right-radius: var(--i-radius-md);
          border-top-left-radius: var(--i-radius-md);
          overflow: hidden;
        }
      }
    }
  }
}
