i-section {
  display: flex;
  flex-direction: column;
  box-shadow: var(--i-shadow-xs);
  border: var(--i-border);
  border-radius: var(--i-radius-md);
  background-color: var(--i-color-white);
  /* overflow: hidden; */

  & > * {
    border-bottom: var(--i-border);
    padding: var(--i-spacing-xs) var(--i-spacing-sm);

    &:only-child {
      border-bottom: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  i-section-sub-header {
    background-color: var(--i-color-gray-100);
    padding: var(--i-padding-xs) var(--i-padding-lg);
    &:first-child {
      border-top-right-radius: var(--i-radius-md);
      border-top-left-radius: var(--i-radius-md);
    }
  }

  i-section-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--i-spacing-xs);
    padding-bottom: 0px;

    > i-button {
      margin-top: 20px;
    }
  }

  i-section-body {
    display: flex;
    flex-direction: column;
    padding: var(--i-spacing-sm);
  }

  i-section-tabs,
  .i-section-tabs {
    display: flex;
    flex-direction: column;
    background-color: var(--i-color-gray-50);
    padding: 0px;
    .i-section-tabs-headers {
      display: flex;
      border-bottom: var(--i-border);
      .i-section-tabs-header {
        display: flex;
        flex: 1 1 0%;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-right: var(--i-border);
        background-color: var(--i-color-gray-50);
        padding: var(--i-padding-sm) 0;
        width: auto;
        min-width: 0;
        max-width: 100%;
        font-size: var(--i-font-size-md);
        font-family: var(--i-font-family-heading);
        &.active {
          box-shadow: inset 0px -3px 0px var(--i-color-blue-500);
          background-color: var(--i-color-white);
        }
        &:last-child {
          border-right: none;
        }
        &:hover {
          background-color: var(--i-color-gray-100);
        }
        &:active {
          background-color: var(--i-color-gray-200);
        }
      }
    }
    .i-section-tabs-content {
      padding: var(--i-padding-md) var(--i-padding-lg);
      &.scroll.scroll-y {
        box-sizing: border-box;
      }
    }
  }
}
