i-section {
  display: flex;
  flex-direction: column;
  box-shadow: var(--i-shadow-xs);
  border: var(--i-border);
  border-radius: var(--i-radius-md);
  background-color: var(--i-color-white);
  /* overflow: hidden; */

  & > * {
    border-bottom: var(--i-border);
    padding: var(--i-spacing-xs) var(--i-spacing-sm);

    &:only-child {
      border-bottom: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  i-section-sub-header {
    background-color: var(--i-color-gray-100);
    padding: var(--i-padding-xs) var(--i-padding-lg);
    &:first-child {
      border-top-right-radius: var(--i-radius-md);
      border-top-left-radius: var(--i-radius-md);
    }
  }

  i-section-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--i-spacing-xs);
    padding-bottom: 0px;

    > i-button {
      margin-top: 20px;
    }
  }

  i-section-body {
    display: flex;
    flex-direction: column;
    padding: var(--i-spacing-sm);
  }
}
