i-select {
  --i-input-options-max-height: 174px;
  --i-input-options-min-width: 160px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;

  label {
    margin-bottom: 1px;
    font-size: var(--i-font-size-sm) !important;
  }

  input {
    padding-right: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &::placeholder {
      color: var(--i-color-gray-400) !important;
    }
    &:hover {
      & + .i-options-toggler {
        i {
          color: var(--i-color-text);
        }
      }
    }
  }

  .i-options-toggler {
    display: flex;
    position: absolute;
    top: 1.5px;
    right: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--i-radius-md);
    width: 30px;
    height: 30px;
    i {
      color: var(--i-color-text-light);
    }

    &:hover {
      i {
        color: var(--i-color-text);
      }
    }
  }

  .i-options {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1000;
    border: var(--i-border);
    border-radius: var(--i-radius-md);
    background: var(--i-color-white);
    padding: var(--i-spacing-5xs);
    width: 100%;
    min-width: var(--i-input-options-min-width);
    max-height: var(--i-input-options-max-height);

    .i-option {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: var(--i-radius-md);
      padding: var(--i-spacing-4xs) var(--i-spacing-sm);
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.04);
      }

      &.selected {
        font-weight: 500;
      }

      .i-option-label {
        flex: 1 1 auto;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .i-option-check {
        display: inline-flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        color: var(--i-color-primary);
      }

      &:hover {
        background-color: var(--i-color-gray-100);
      }
    }
  }

  label + input + .i-options-toggler {
    top: 22px;
  }

  label + input + .i-options-toggler + .i-options {
    top: 60px;
  }
}
