/*
 * ITextarea
 * Version: 1.0.0
 */
@layer components {
  i-textarea {
    --i-textarea-border-color: var(--i-color-gray-200);
    --i-textarea-border: 1px solid var(--i-textarea-border-color);
    --i-textarea-color: var(--i-text-color);
    --i-textarea-font-size: var(--i-text-md);
    --i-textarea-padding-y: var(--i-padding-xs);
    --i-textarea-padding-x: var(--i-padding-2xs);
    --i-textarea-background: var(--i-color-white);
    --i-textarea-focus-border-color: var(--i-color-blue-500);
    --i-textarea-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    display: flex;
    align-items: stretch;
    box-shadow: var(--i-textarea-box-shadow);
    border: var(--i-textarea-border);
    border-radius: var(--i-radius-md);
    background-color: var(--i-textarea-background);
    padding: 0 var(--i-textarea-padding-x);

    textarea {
      flex: 1 1 auto;
      outline: none;
      border: none;
      background: transparent;
      padding: var(--i-textarea-padding-y) var(--i-textarea-padding-x);
      resize: none;
      color: var(--i-textarea-color);
      font-size: var(--i-textarea-font-size);
      font-family: var(--i-font-body);
      &::placeholder {
        color: var(--i-color-gray-300) !important;
      }
    }

    /* Focus ring on wrapper when textarea focused */
    &:has(textarea:focus) {
      outline-color: var(--i-textarea-focus-border-color);
      outline-style: solid;
      outline-width: 2px;
      outline-offset: -2px;
    }

    /* Invalid state using aria-invalid */
    &:has(textarea[aria-invalid='true']) {
      --i-textarea-focus-border-color: var(--i-color-danger);
      outline-color: var(--i-textarea-focus-border-color);
      outline-style: solid;
      outline-width: 2px;
      outline-offset: -2px;
    }
  }

  i-fc-textarea,
  .i-fc-textarea {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--i-padding-2xs);
    label:first-child,
    .i-fc-textarea__label {
      font-size: var(--i-text-sm) !important;
      text-align: left;
      .i-fc-textarea__required {
        color: var(--i-color-danger);
      }
    }

    .i-fc-textarea__error {
      height: 16px;
      color: var(--i-color-danger);
      font-size: var(--i-text-sm) !important;
      text-align: left;
    }

    &:not(:has(.i-fc-textarea__error)) {
      padding-bottom: var(--i-padding-lg);
    }

    + i-button,
    + .i-btn {
      margin-bottom: var(--i-padding-lg);
    }
  }
}
